.cars-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.car-card {
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  margin: auto;
  flex: 0 0 auto;                 /* Keep fixed width */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  transition: transform 0.3s;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.no-image {
  width: 100%;
  height: 180px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}

.car-info {
  padding: 1rem;
}

.car-info h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.car-model-heading {
  text-align: center;
  margin: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
}
.car-model {
  font-size: 1.2rem;
  color: #ccc;
  margin: 0.5rem 0;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
  color: #ccc;
}

.error {
  color: #ff4d4d;
}
