/* Container for the entire slider */
.slider-container {
  width: 100%; /* Full width */
  height: clamp(50vh, 50vh, 80vh);
  margin: 0 auto;
  position: relative;
  overflow: hidden; /* Ensure no overflow of content */
}

/* Slider wrapper */
.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Slide wrapper */
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out; /* Smooth transition for slide movement */
}

/* Each individual slide */
.slide {
  min-width: 100%; /* Full width of container */
  height: 100%;
  position: relative;
  overflow: hidden; /* Ensures image doesn't overflow */
}

/* Image within each slide */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container area */
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover effects */
}

/* Hover effect for images */
.slide:hover img {
  transform: scale(1.1); /* Slight zoom on hover */
  filter: brightness(0.9); /* Darken image slightly */
}

.slider-loader,
.slider-error {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ccc;
}


/* Navigation arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2.5rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Arrow hover effect */
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Left and right arrow positioning */
.left {
  left: 20px;
}

.right {
  right: 20px;
}
